# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# App data
output/
app_data/
*.db
*.log

# Build files
dist/
build/
*.spec

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
